{{#*inline "page"}}
  
<div>
    <table>
        <thead>
            <tr>
                <td>Inventory</td><td>Item</td><td>Minimum</td><td>Current Value</td><td></td>
            </tr>
        </thead>
        <tbody>
            {{#each selection}}
            <tr>
                <td>{{inventory-name}}</td>
                <td>{{product-name}}</td>
                <td>{{minimum}}</td>
                <td>{{current}}</td>
                <td><form method="POST" action="/selection-remove-line"><input type="hidden" name="inventory_id" value="{{inventory-id}}"><input type="hidden" name="product_id" value="{{product-id}}"><button>Delete</button></form></td>
            </tr>
            {{/each}}
        </tbody>
        <tfoot>
            <form action="/selection-add-line" method="POST">
            <tr>
                <td><select id="select-inventory" name="inventory_id" style="width: 10em;" name="inventory"></select></td>
                <td><select id="select-product" name="product_id" style="width: 10em;" name="product-id"></select></td>
                <td><input type="text" name="minimum"></td>
                <td><button>Add</button></td>
            </tr>
            </form>
        </tfoot>
    </table>
</div>

<script>
    f("/selection-inventories").then(r => r.json()).then(inventories => {
        let select_inventory = document.getElementById('select-inventory');
        let select_product = document.getElementById('select-product');
            inventories.forEach(inv => {
                let option = document.createElement('option');
                option.value = inv.id;
                option.innerText = inv.name;
                select_inventory.appendChild(option);
            });
            if(inventories.length > 0){
                inventories[0].products.forEach(prod => {
                    let option = document.createElement('option');
                option.value = prod.id;
                option.innerText = prod.name;
                select_product.appendChild(option);
                });
            }
            select_inventory.addEventListener("change", (e) => {
                for(var i = 0; i <= select_product.children.length; i++){
                    select_product.children[0].remove();
                }
                inventory = inventories.filter(inv => inv.id == parseInt(select_inventory.value))[0].products.forEach(prod => {
                    let option = document.createElement('option');
                    option.value = prod.id;
                    option.innerText = prod.name;
                    select_product.appendChild(option);
                });
            })
    });
</script>

{{/inline}}
{{~> base~}}