{{#*inline "page"}}
  
<h2>Sender configuration</h2>
    <form method="POST" action="/target-save-sender" style="width: 66vw;">
        <fieldset class="flex two grow">
            <label for="account">Email account</label><input type="text" name="sender_account" id="sender_account" value="{{sender_account}}">
            <label for="password">Password</label><input type="password" name="sender_password" id="sender_password">
            <button type="button" onclick="testMail();" class="off-half bg-green">Test</button>
            <button type="submit" class="off-half">Save</button>
        </fieldset>
    </form>
<h2>Target configuration</h2>
    <form method="POST" action="/target-save-target" style="width: 66vw;">
        <fieldset class="flex two grow">
            <label for="account">Email account</label><input type="text" name="target_account" value="{{target_account}}">
            <button type="submit" class="off-half">Save</button>
        </fieldset>
    </form>
<script>
    function testMail(){
        var xhttp = new XMLHttpRequest();
        var fdata = "account=" + encodeURIComponent(document.getElementById("sender_account").value) + "&password=" + encodeURIComponent(document.getElementById("sender_password").value);
        xhttp.addEventListener("load", function(){
            gid('message').innerText = xhttp.responseText;
            gid('flash-container').style.display = 'block';
            gid('flash-container').style.opacity = 1;
            gid('flash').classList.add('bg-blue');
        });
        xhttp.open("POST", "/target-test-mail");
        xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhttp.send(fdata);
    }
</script>
{{/inline}}
{{~> base~}}