{{#*inline "page"}}

<h2>Template</h2>
<form action="/template" method="POST">
<textarea name="templatestring" id="templatestring" style="width: 40em; height: 20em; font-family: monospace;">
{{#if template}}
{{{template}}}
{{else}}
{{{{raw}}}}
The following items have been depleted:

Name            Amount to deliver
---------------------------------
{{#each Items}}
{{product-name}}        {{difference}}
{{/each}}
{{{{/raw}}}}
{{/if}}
    </textarea>
<br/>
<button type="button" onclick="renderPreview()">Preview</button> <button type="submit">Save</button>
</form>



<div id="preview-container" style="display: none;">
<h2>Preview</h2>
<pre id="preview">

</pre>
</div>

<script>
    function renderPreview(){
        var xhttp = new XMLHttpRequest();
        var fdata = "templatestring=" + encodeURIComponent(document.getElementById("templatestring").value);
        xhttp.addEventListener("load", function(){
            document.getElementById("preview").innerHTML = xhttp.responseText;
            document.getElementById("preview-container").style.display = "block";
            document.getElementById("preview").scrollIntoView();
        });
        xhttp.open("POST", "preview");
        xhttp.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhttp.send(fdata);
    }
</script>

<h2>Available Shortcuts</h2>
<div id="help" style="font-size: 80%; background-color: white; padding: 0; margin: 0;">
    <pre>
        Items: List 
        Item:
            - inventory-name: The name of the inventory
            - inventory-description: A description of the inventory
            - inventory-id: The database ID of the inventory
            - product-name: The name of the product stored in the inventory
            - product-id: The database ID of the product
            - minimum: The minimum amount of the product that should be stored
            - current: The current amount of the product being stored
            - difference: The difference between the minimum amount the current amount
        <a href="https://handlebarsjs.com/">Additional helpers</a>
    </pre>
</div>

{{/inline}}
{{~> base~}}