<table>
    <thead>
        <tr><th>Setting</th><th>AP</th><th>STA</th></tr>
    </thead>
    <tbody>
        <tr><td>SSID</td><td>{{AP_SSID}}</td><td>{{STA_SSID}}</td></tr>
        <tr><td>IP</td><td>{{AP_IP}}</td><td>{{STA_IP}}</td></tr>
        <tr><td>Netmask</td><td>{{AP_Netmask}}</td><td>{{STA_Netmask}}</td></tr>
        <tr><td>Gateway</td><td>{{AP_Gateway}}</td><td>{{STA_Gateway}}</td></tr>
        <tr><td>DNS</td><td>{{AP_DNS}}</td><td>{{STA_DNS}}</td></tr>
    </tbody>
</table>