<div>
    Current reading: <span id="reading"></span>
    <button onclick="fetch('/tare').then(r => r.text())">Tare</button>
    <br/>
    <canvas id="graph" width="500" height="500" style="border: 1px solid black;">
    </canvas>
    <script>
        let weightEventSource = new EventSource("/weight")
        weightEventSource.addEventListener("weight", (event) => {
            var reading = event.data;
            document.getElementById('reading').innerText = reading;
            let f = parseFloat(reading) || 0;
            if(isNaN(f)){
                f = 0;
            }
            updateGraph(parseFloat(reading));
        });
        let maximum = 0;
        let graphData = new Float32Array(500);
        let index = 0;
        let ctx = document.getElementById('graph').getContext("2d");
        let updateGraph = (v) => {
            if(v > maximum){
                let newMax = v + 10;
                for(let i = 0; i < 500; i++){
                    graphData[i] = graphData[i] * maximum / newMax;
                }
                maximum = newMax;
            }
            v = v / maximum * 500;
            for(let i = 0; i < 499; i++){
                graphData[i] = graphData[i + 1];
            }
            graphData[499] = v;
            ctx.fillStyle = "white";
            ctx.fillRect(0,0,500,500);
            ctx.fillStyle = "#0074d9";
            for(var i = 0; i < 500; i++){
                ctx.fillRect(i,500-graphData[i],1,graphData[i]);
            }
        }
    </script>
</div>