<div class="flex two grow">
    <span>Server Hostname:</span><a href="{{Server_URL}}">{{Server_URL}}</a>
    <span>Connection OK:</span><span>{{Connection_OK}}</span>
    <span>Last Reported Weight:</span><span>{{Server_Weight}} (at <span id="server_time"></span>) <a href="{{Server_URL}}/sensors/latest/{{Report_Id}}" download="true">download</a></span>
    <span>Current Weight:</span><span>{{Scale_Weight}}</span>
    <span>Difference:</span><span id="wdiff"></span>
</div>

<script>
    gid("server_time").innerText = new Date(({{Server_Time}}) * 1000).toLocaleString();
    wdiff.innerText = Math.abs(parseInt({{Server_Weight}}) - parseInt({{Scale_Weight}}));
</script>