<h3>Wifi Settings</h3>
<form action="/wifi" method="POST" ><!--accept-charset="UTF-8"-->
    <fieldset class="flex two grow">
        <label for="AP_SSID">Access Point SSID</label><input type="text" name="AP_SSID" value="{{AP_SSID}}">
        <label for="AP_PSK">Access Point Password</label><input type="text" name="AP_PSK" value="{{AP_PSK}}">
        <label for="STA_SSID">Network SSID</label><input type="text" name="STA_SSID" value="{{STA_SSID}}">
        <label for="STA_PSK">Network Password</label><input type="text" name="STA_PSK" value="{{STA_PSK}}">
        <button class="off-half">Save</button>
    </fieldset>
</form>
<br>
<h3>Scale calibration</h3>
<form action="/scale" method="POST" ><!--accept-charset="UTF-8"-->
    <fieldset class="flex two grow">
        <label for="WEIGHT">Current Weight</label><input type="text" name="WEIGHT" value="{{WEIGHT}}">
        <button class="off-half">Save</button>
    </fieldset>
</form>
<br>
<h3>Server connection</h3>
<form action="/server" method="POST" ><!--accept-charset="UTF-8"-->
    <fieldset class="flex two grow">
        <label for="URL">Server URL</label><input type="text" name="URL" value="{{URL}}">
        <label for="Username">Username</label><input type="text" name="Username" value="{{Username}}">
        <label for="Password">Password</label><input type="text" name="Password" value="{{Password}}">
        <button class="off-half">Save</button>
    </fieldset>
</form>
<br>
<h3>Inventory configuration</h3>
<form action="/inventory" method="POST" ><!--accept-charset="UTF-8"-->
    <fieldset class="flex two grow">
        <select name="inventory_id" class="full" id="inventory_select"></select>
        <button class="off-half">Save</button>
    </fieldset>
</form>
<div id="inventory_data" style="display:none;">{{INVENTORIES}}</div>
<script>
    inventories = JSON.parse(gid("inventory_data").innerText);
    inventories.forEach(i => {
        let option = document.createElement("option");
        option.setAttribute("value", i.id);
        option.innerText = `${i.name} (${i.description})`
        gid("inventory_select").appendChild(option);

    });
</script>
<br>