{{#*inline "page"}}
<div>
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        {{#each inventories}}
        <tr onclick="window.location.href='/inventories/{{id}}';">
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{description}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br/>
<a class="button" href="/inventories/new?">Add new</a>
</div>
{{/inline}}
{{~> base~}}