{{#*inline "page"}}
<div>
{{#if Inventory.id}}
<form action="/inventories/update/{{Inventory.id}}" method="POST">
{{else}}
<form action="/inventories/new" method="POST">
{{/if}}
    <fieldset class="flex two grow">
        <label for="name">Name</label> <input type="text" name="name" value="{{Inventory.name}}" required />
        <label for="supplier">Description</label> <input type="text" name="description" value="{{Inventory.description}}"/>
        {{#if Inventory.id}}
        <iframe class="full" src="/inventories/link/{{Inventory.id}}" style="height: 50vh;"></iframe>
        <span class="shrink"><button type="button" class="error" onclick="console.log(document.forms);document.forms[1].submit();">Delete Inventory</button></span>
        <button type="submit" class="button">Update Inventory</button>
        {{else}}
        <button type="submit" class="button off-half-600">Add Inventory</button>
        {{/if}}
    </fieldset>
</form>
<form action="/inventories/delete/{{Inventory.id}}" method="POST"></form>
</div>
{{/inline}}
{{~> base~}}