{{#*inline "products"}}
        <select name="product_name">
            {{#each Products}}
                <option>{{this}}</option>
            {{/each}}
        </select>
{{/inline}} 


{{#*inline "select_product"}}
    <select name="product_name">
        <option>{{product_name}}</option>
        {{#each Products}}
                <option>{{this}}</option>
        {{/each}}

    </select>
{{/inline}}

<html>
    <head>
        <meta charset="utf-8">
        <title>kontor</title>
        <link rel="stylesheet" href="/static/picnic.min.css">
        <link rel="stylesheet" href="/static/global.css">
        <script type="text/javascript">const gid = (id) => document.getElementById(id); const f = (url) => fetch(url,  {credentials: 'include'});</script>
        <style>
            body{
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: top;
                margin-top: 3em;
            }
            table{
                width: 100%;
                text-align: center;
            }
            input[type="text"]{
                width: 4em;
            }
            select{
                max-width: 12em;
            }
        </style>
    </head>
    <body>
        <table>
          {{#each Definitions}}
                <tr>
                    <form action="/inventories/link/create" METHOD="POST">
                        <input type="hidden" name="inventory_id" value="{{Inventory_Id}}">
                        <td>{{~> select_product~}}</td>
                        <td>at least <input type="text" value="{{minimum}}" name="minimum" pattern="[0-9]+" required></td>
                        <td><button type="submit">Update</button></td>
                    </form>
                    <form style="display: none" action="/inventories/link/delete/{{definition_id}}" method="POST">
                        <input type="hidden" name="inventory_id" value="{{Inventory_id}}" />
                        <input type="hidden" name="product_id" value="{{product_id}}" />
                        <td><button class="error">Delete</button></td>
                    </form>
                </tr>
            {{/each}}
            <tr>
                <form action="/inventories/link/create" method="POST">
                    <input type="hidden" name="inventory_id" value="{{Inventory_Id}}">
                    <td>{{~> products}}</td>
                    <td>at least <input type="text" value="{{minimum}}" name="minimum" pattern="[0-9]+" value="0" required></td>
                    <td><button type="submit">Add</button></td>
                    <td></td>
                </form>
            </tr>
        </table>
    </body>
</html>