{{#*inline "page"}}
<div>
{{#if Product.id}}
<form action="/products/update/{{Product.id}}" method="POST">
{{else}}
<form action="/products/new" method="POST">
{{/if}}
    <fieldset class="flex two grow">
        <label for="name">Name</label> <input type="text" name="name" value="{{Product.name}}" required />
        <label for="supplier">Supplier</label> <input type="text" name="supplier" value="{{Product.supplier}}" required />
        <label for="weight_grams">Weight</label> <input type="text" id="weight_grams" name="weight_grams" pattern="[0-9]+g{0,1}" value="{{Product.weight_grams}}" required />
        <button type="button" class="bg-teal off-half-600" id="getWeight" onclick="measure_item_start()">Get weight from sensor</button>
        {{#if Product.id}}
        <span class="shrink"><button type="button" class="error" onclick="console.log(document.forms);document.forms[1].submit();">Delete Product</button></span>
        <button type="submit" class="button">Update Product</button>
        {{else}}
        <button type="submit" class="button off-half-600">Add Product</button>
        {{/if}}
    </fieldset>
</form>
<form action="/products/delete/{{Product.id}}" method="POST"></form>
</div>
<div id="overlay" style="background-color: rgba(255,255,255,0.7); z-index: 30000; display: none; position: absolute; left: 0; top: 0; width: 100vw; height: 100vw; overflow: hidden;">
    <div id="overlay-content" class="card" style="display: block; margin: auto auto; margin-top: 10vh; width: 75vw; height: 30vw; text-align: center;">
        <div id="select-inventory" style="display: block">
            Inventory sensor to use:
            <select id="sensor-inventory-id" name="inventory_id" style="width: 10em;">
                {{#each Inventories}}
                    <option value="{{this.id}}">{{this.name}}</option>
                {{/each}}
            </select>
            <button onclick="aquire_empty()">Select</button>
        </div>
        <div id="waiting-for-weight" class="full" style="display: none;">Waiting for a sensor reading</div>
        <div id="place-on-sensor" class="full" style="display: none;">
            Place item on sensor and click <button onclick="aquire_full()">OK</button>
        </div>
        <div id="weight-result" class="full" style="display:none">
            Item weight: <span id="item-weight"></span>g
        </div>
        <div id="remove-item" class="full" style="display:none">
            Remove item from sensor and click <button onclick="aquire_empty()">OK</button>
        </div>
        <div id="buttons" style="display: none">
            <button class="button warning" onclick="abort()">Cancel</button>
            <button class="button success" onclick="repeat()">Repeat measurement</button>
            <button class="button" onclick="accept()">Accept</button>
        </div>
    </div>
</div>
<script>
    var empty = 0;
    var empty_id = null;
    var full = 0;
    var inventory_id = null;
    function measure_item_start(){
        gid("overlay").style.display = "block";
        gid("select-inventory").style.display = "block";
    }

    function aquire_empty(){
        inventory_id = parseInt(gid("sensor-inventory-id").value)
        gid("select-inventory").style.display = "none";
        gid("waiting-for-weight").style.display = "block";
        fetch("/sensors/latest/" + inventory_id).then(r => r.json()).then(report => {
            empty = report.weight_grams;
            empty_id = report.id;
            wait_full();
        });
    }

    function wait_full(){
        gid("place-on-sensor").style.display = "block";
        gid("waiting-for-weight").style.display = "none";
    }

    function wait_for_new_report(callback){
        fetch("/sensors/latest/" + inventory_id).then(r => r.json()).then(report => {
            if(report.id != empty_id){
                full = report.weight_grams;
                callback();
            }else{
                setTimeout(() => wait_for_new_report(callback), 500);
            }
        });
    }

    function aquire_full(){
        gid("waiting-for-weight").style.display = "block";
        gid("place-on-sensor").style.display = "none";
        wait_for_new_report(wait_for_okay);
    }

    function wait_for_okay(){
        gid("waiting-for-weight").style.display = "none";
        gid("weight-result").style.display = "block";
        gid("buttons").style.display = "block";
        gid("item-weight").innerText = full - empty;
    }

    function accept(){
        gid("weight_grams").value = full-empty;
        abort();
    }

    function abort(){
        gid("overlay").style.display = "none";
        gid("sensor-inventory-id").style.display = "none";
        gid("waiting-for-weight").style.display = "none";
        gid("place-on-sensor").style.display = "none";
        gid("weight-result").style.display = "none";
        gid("buttons").style.display = "none";
        gid("remove-item").style.display = "none";
    }

    function repeat(){
        gid("sensor-inventory-id").style.display = "none";
        gid("waiting-for-weight").style.display = "none";
        gid("place-on-sensor").style.display = "none";
        gid("weight-result").style.display = "none";
        gid("buttons").style.display = "none";
        gid("remove-item").style.display = "block";
    }
</script>
{{/inline}}
{{~> base~}}