{{#*inline "page"}}
<div>
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Supplier</td>
            <td>Weight</td>
        </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr onclick="window.location.href='/products/{{id}}';">
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{supplier}}</td>
            <td>{{weight_grams}}g</td>
        </tr>
        {{/each}}
    </tbody>
</table>
<br/>
<a class="button" href="/products/new?">Add new</a>
</div>
{{/inline}}
{{~> base~}}