{{#*inline "page"}}
<div>
<a class="button" href="/reports/new?">Add new</a>
<br/><br/>
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Time</td>
            <td>Inventory</td>
            <td>Report</td>
        </tr>
    </thead>
    <tbody>
        {{#each reports}}
        <tr>
            <td>{{id}}</td>
            <td>{{{timestamp}}}</td>
            <td><a href="/inventories/{{inventory_id}}">{{inventory.name}}</a></td>
            <td>
                <table>
                    <thead>
                        <tr>
                            <td>Product</td>
                            <td>Amount</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each products}}
                            <tr>
                                <td><a href="/products/{{product_id}}">{{product_name}}</a></td>
                                <td>{{amount}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
{{/inline}}
{{~> base~}}