{{#*inline "page"}}
<div>
    <script>
       function addRow(){
           	let example_row = document.getElementById('example-row');
            example_row.classList.add("result-row");
            let new_row = example_row.cloneNode(true);
            new_row.children[0].children[0].value = document.getElementById('product_name').value;
            new_row.children[1].children[0].value = document.getElementById('product_amount').value;
            new_row.removeAttribute('style');
            let products_tbody = document.getElementById('products-tbody');
            products_tbody.insertBefore(new_row, document.getElementById('spacer'));
            document.getElementById('product_amount').value = 0;
       }

       function gatherData(){
           let trs = document.getElementsByClassName('result-row');
           let data = {};
           for(var i = 0; i < trs.length; i++){
               let product = trs[i].children[0].children[0].value;
               let amount = trs[i].children[1].children[0].value;
               if(data[product]){
                   data[product] += parseInt(amount);
               }else{
                   data[product] = parseInt(amount);
               }
           }
           document.getElementById('productsjson').value= JSON.stringify(data);
       } 
    </script>
<form action="/reports/create" method="POST" onsubmit="gatherData();">
    <fieldset>
        <div class="flex two grow">
        <label for="name">Inventory</label>
        <select name="inventory_name">
            {{#each Inventories}}
                <option>{{this}}</option>
            {{/each}}
        </select>
        </div>
        <br/><br/>
        <table>
            <thead>
                <tr>
                    <td>Product</td>
                    <td>Amount</td>
                    <td>
                </tr>
            </thead>
            <tbody id="products-tbody">
                <tr id="example-row" style="display: none">
                    <td>
                        <select style="width: 15em;">
                            {{#each Products}}
                                <option>{{this}}</option>
                            {{/each}}
                        </select>
                    </td>
                    <td><input type="text" pattern="[0-9]+" style="width: 4em;"></td>
                    <td></td>
                </tr>
                <tr id="spacer">
                    <td></td>
                </tr>
                <tr id="input">
                    <td>
                       <select id="product_name" style="width: 15em;">
                            {{#each Products}}
                                <option>{{this}}</option>
                            {{/each}}
                       </select>
                    </td>
                    <td>
                        <input type="text" pattern="[0-9]+" id="product_amount"  style="width: 4em;">
                    </td>
                    <td><button type="button" onclick="addRow();">Add</button></td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="productsjson" id="productsjson" value="">
        <button type="submit" class="button off-half-600">Submit Report</button>
    </fieldset>
</form>
</div>
{{/inline}}
{{~> base~}}