{{#*inline "page"}}
<div>
<a class="button" href="/sensors/new?">Add new</a>
<br/><br/>
<table>
    <thead>
        <tr>
            <td>ID</td>
            <td>Time</td>
            <td>Inventory</td>
            <td>Weight</td>
        </tr>
    </thead>
    <tbody>
        {{#each reports}}
        <tr>
            <td>{{id}}</td>
            <td>{{{timestamp}}}</td>
            <td><a href="/inventories/{{inventory_id}}">{{inventory_name}}</a></td>
            <td>{{weight}}g</td>
        </tr>
        {{/each}}
    </tbody>
</table>
</div>
{{/inline}}
{{~> base~}}