{{#*inline "page"}}
<div>
<form action="/sensors/report" method="POST">
    <fieldset class="flex two grow">
        <label for="name">Inventory</label>
        <select name="inventory_id" required>
            {{#each Inventories}}
                <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        </select>
        <label for="name">Weight</label > <input type="text"name="weight_grams" pattern="[0-9]+g{0,1}" value="0g" required />
        <button type="submit" class="button off-half-600">Submit Report</button>
    </fieldset>
</form>
</div>
{{/inline}}
{{~> base~}}