{{#*inline "page"}}
<form method="POST" id="update_username" action="/update_username">
    <fieldset class="flex two grow">
            <label for="user">Username</label> <input type="text" name="username" id="user" value="{{name}}" required/>
            <button class="off-half-600">Change username</button>
    </fieldset>
</form>
<hr>
<form method="POST" id="update_password" action="/update_password">
    <fieldset class="flex two grow">
            <label for="pass">Password</label> <input type="password" placeholder="" name="password" id="pass"/>
            <label for="confirm-pass">Confirm Password</label> <input type="password" placeholder="" id="confirm-pass" disabled/>
            <button class="off-half-600" id="pass_submit" disabled>Change password</button>
    </fieldset>
</form>
<script>
    let checkPass = () => {
        let pass = gid('pass');
        let confirm_pass = gid('confirm-pass');
        if(pass.value.trim() == confirm_pass.value.trim()){
            pass.classList.add('border--green');
            confirm_pass.classList.add('border--green');
            pass.classList.remove('border--red');
            confirm_pass.classList.remove('border--red');
            gid('pass_submit').removeAttribute('disabled');
        }else{
            pass.classList.add('border--red');
            confirm_pass.classList.add('border--red');
            pass.classList.remove('border--green');
            confirm_pass.classList.remove('border--green');
            gid('pass_submit').setAttribute('disabled');
        }
    };
    gid('pass').addEventListener('keydown', e => {
        if(e.target.value.trim() != ""){
            if(gid('confirm-pass').hasAttribute('disabled')){
                gid('confirm-pass').removeAttribute('disabled');
            }
            checkPass();
        }else{
            gid('confirm-pass').setAttribute('disabled');
        }
    });
    gid('confirm-pass').addEventListener('keydown', () => checkPass());
</script>
{{/inline}}
{{~> base~}}